* {
  background-color: rgb(28, 28, 28);
  font-family:Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

title{
  color: white;
}
#Logo {
  width: 150px; 
  height: auto;
}
nav {
  color: white;
  display: flex;
  align-items: flex-start;
  padding: 1.5%;
  font-weight: bold;
  white-space: nowrap;
  
}

nav .nEsquerda {
  justify-content: left;
  flex: 0;
  margin-right: 1.5%;
  margin-left: 1.5%;
  left: 75px;
}

nav .nCentro {
  justify-content: center;
  flex: 1;
  margin-right: 2%;
  margin-left: 2%;
  text-align: center;
}

nav .nDireita {
  justify-content: right;
  flex: 0;
  margin-right: 1.5%;
  margin-left: 1.5%;
  text-align: right;
}

nav a {
  padding: 0px;
  text-decoration: none;
}

.navbar{
 width: 100%;
 align-self: ;
}

#nLogin {
 background-color: white;
 color: rgb(28, 28, 28);;
 padding: 0.2% 5%;
 border-radius: 15px;
}

#nPesquisa {
  border: none;
  padding: 1.5%;
  width: 300px; 
}

#nPesquisa::placeholder {
  color: rgba(255, 255, 255, 0.6); 
}
#nPesquisa:hover{
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  padding: 1% 4%;
  border-radius: 15px;
} 

button {
  top: 30px;
  border: none;
  padding: 1%;
  cursor: pointer;
}

body {
  display: flex; 
  height: auto; 
  flex-direction: column;
}

.container {
  display: flex; 
  width: 100%; 
}

.esquerda {
  width: 20%; 
  background-color: 
}

.centro {
  width: 50%; 
  height: 500px;
}

.direita {
  width: 20%; 
}
footer {
  color: white;
  display: flex;
  justify-content:center;
  padding: 1.5%; 
}

footer .coluna {
  flex: 1; 
}

footer p {
  color: rgba(255, 255, 255, 0.6)
}
footer p:hover {
  color: white;
}

.rodape {
  width: 100%;
}
