* {
  font-family:Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  top: 30px;
  border: none;
  padding: 1%;
  cursor: pointer;
}

body {
  background-color: #343a40;
  color: #f8f9fa;
}

.list-group-item {
  background-color: #343a40;
  color: #f8f9fa;
}

a {
  color: #f8f9fa;
}

.placeholder-box {
  height: 300px;
  border: 2px dashed #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f8f9fa;
  background-color: #343a40;
  font-size: 1.5rem;
}
